.text {
  margin: 5px;
  width: 400px;
  font-size: 29px;
  font-weight: bold;
  cursor: text;
  color: rgb(250, 152, 6);
  margin-left: 30px;
}


img {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 30px;
    
    
  }


  body {
    background-color: rgba(245, 244, 244, 0.671);
  }


textarea {
  width: center;
  height: 150px;
  margin-left: 30px;
  padding: 5px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  
}


input {
  width: center;
  height: 100px;
  padding: 1px 29px;
  box-sizing: border-box;
  border-radius: 4px;
  
}


span {
  font-size: 100px;
  margin-left: 120px;
}


input {
  display: none;
}

p {
  font-size: 23px;
  margin-left: 100px;
}


